 #pgc-18-0-0 , #pgc-18-1-0 , #pgc-18-3-0 , #pgc-18-4-0 , #pgc-18-5-0 { width:100%;width:calc(100% - ( 0 * 30px ) ) } #pg-18-0 { margin-bottom:60px } #pg-18-1 , #pg-18-5 , #pl-18 .so-panel { margin-bottom:30px } #pgc-18-2-0 , #pgc-18-2-1 , #pgc-18-2-2 { width:33.3333%;width:calc(33.3333% - ( 0.66666666666667 * 30px ) ) } #pg-18-2 { margin-bottom:83px } #pg-18-3 , #pl-18 .so-panel:last-child { margin-bottom:0px } #pg-18-4 { margin-bottom:105px } #pgc-18-6-0 { width:40%;width:calc(40% - ( 0.6 * 30px ) ) } #pgc-18-6-1 , #pgc-18-6-2 { width:30%;width:calc(30% - ( 0.7 * 30px ) ) } #pg-18-0> .panel-row-style { padding:40px 120px 40px 120px;margin-top:-35px } #pg-18-0.panel-no-style, #pg-18-0.panel-has-style > .panel-row-style , #pg-18-1.panel-no-style, #pg-18-1.panel-has-style > .panel-row-style , #pg-18-2.panel-no-style, #pg-18-2.panel-has-style > .panel-row-style , #pg-18-3.panel-no-style, #pg-18-3.panel-has-style > .panel-row-style , #pg-18-4.panel-no-style, #pg-18-4.panel-has-style > .panel-row-style , #pg-18-5.panel-no-style, #pg-18-5.panel-has-style > .panel-row-style , #pg-18-6.panel-no-style, #pg-18-6.panel-has-style > .panel-row-style { -webkit-align-items:flex-start;align-items:flex-start } #panel-18-0-0-0> .panel-widget-style { padding:31px 0px 75px 100px;box-shadow: 0 2px 6px rgba(0, 0, 0, .1), 0 2px 40px rgba(0, 0, 0, .15);font-size: 16px } #pg-18-3> .panel-row-style { background-color:#fbb10d;padding:90px 0px 120px 0px } #panel-18-3-0-1> .panel-widget-style { margin-top: -10px } #panel-18-3-0-2> .panel-widget-style { padding:0px 300px 0px 300px } #pg-18-4> .panel-row-style { border:1px solid #e2e9f0;border-width: 2px } #panel-18-4-0-0> .panel-widget-style { padding:23px 0px 0px 0px } #panel-18-5-0-1> .panel-widget-style { margin-top: -25px } #panel-18-6-0-0> .panel-widget-style , #panel-18-6-1-0> .panel-widget-style , #panel-18-6-2-0> .panel-widget-style { background-color:#e2e9f0;padding:30px 40px 22px 40px } #panel-18-6-0-1> .panel-widget-style , #panel-18-6-1-1> .panel-widget-style , #panel-18-6-2-1> .panel-widget-style { background-color:#e2e9f0;padding:0px 40px 40px 40px;margin-top: -60px } @media (max-width:991px){ #pg-18-0.panel-no-style, #pg-18-0.panel-has-style > .panel-row-style , #pg-18-1.panel-no-style, #pg-18-1.panel-has-style > .panel-row-style , #pg-18-2.panel-no-style, #pg-18-2.panel-has-style > .panel-row-style , #pg-18-3.panel-no-style, #pg-18-3.panel-has-style > .panel-row-style , #pg-18-4.panel-no-style, #pg-18-4.panel-has-style > .panel-row-style , #pg-18-5.panel-no-style, #pg-18-5.panel-has-style > .panel-row-style , #pg-18-6.panel-no-style, #pg-18-6.panel-has-style > .panel-row-style { -webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column } #pg-18-0 .panel-grid-cell , #pg-18-1 .panel-grid-cell , #pg-18-2 .panel-grid-cell , #pg-18-3 .panel-grid-cell , #pg-18-4 .panel-grid-cell , #pg-18-5 .panel-grid-cell , #pg-18-6 .panel-grid-cell { margin-right:0 } #pg-18-0 .panel-grid-cell , #pg-18-1 .panel-grid-cell , #pg-18-2 .panel-grid-cell , #pg-18-3 .panel-grid-cell , #pg-18-4 .panel-grid-cell , #pg-18-5 .panel-grid-cell , #pg-18-6 .panel-grid-cell { width:100% } #pgc-18-2-0 , #pgc-18-2-1 , #pgc-18-6-0 , #pgc-18-6-1 { margin-bottom:30px } #pl-18 .panel-grid-cell { padding:0 } #pl-18 .panel-grid .panel-grid-cell-empty { display:none } #pl-18 .panel-grid .panel-grid-cell-mobile-last { margin-bottom:0px } #pg-18-0> .panel-row-style { padding:40px 20px 40px 20px } #panel-18-0-0-0> .panel-widget-style { padding:10px 30px 20px 30px;font-size: 18px } #panel-18-3-0-2> .panel-widget-style { padding:0px 30px 0px 30px }  }
         #footer_city{
         font-size: 15px;
         text-align: left;
         }
         #footer_address{
         line-height: 30px;
         color: #6E7180;}
         #name{
         font-size: 15px;line-height: 25px;margin-bottom:0;
         }
         #profile{
         margin-bottom: 10px;font-size: 15px;
         }
         #contact{
         text-align: left;line-height: 22px;font-size: 16px;    
         }
      